.headshot {
  border-radius: 100%;
  object-fit: cover;
  object-position: 50% 15%;
  border: 1px solid #000;
  width: 256px;
  height: 256px;
}

.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}